.dashboard {
  & {
    background: $color-gray-1;
    min-height: 91vh;
    overflow:auto;
}

  .section-header h4 {
    padding-bottom: $pad/2;
    margin-bottom: 0;
    font-weight: 400;
  }

  .section-row {
    padding: $pad-double 0;
    background: $color-gray-1;
    padding-left: $pad;
  }

  form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    .form-group {
      width: auto;
      margin-right: $space-and-half;
    }
  }

  .action {
  }
}
