.home {
& {
  background: $color-gray-1;
  min-height: 100vh;
}

.portal {
  background: $color-white;
  display: flex;
  box-shadow: 1px 0px 1px rgba(0,0,0,0.25);
  margin: $pad-triple;
}

.portal-aside {
  flex: 10 0 50%;
  background: url('https://s3-us-west-2.amazonaws.com/dotcom-files/white_orange_formbackground.jpg');
  background-position: center;
  background-size: cover;
  padding: $pad-double;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 5 0 50%;
  padding: $pad-double;
}

.logo {
  width: 200px;
}

form, .form-group, .input-group {
  width: 100%;
}

form {
  & {
    margin-top: $space;
  }
  .input-group {
    margin: 0 $space;
  }

  .checkbox-field {
    text-align: left;
  }

  .form-footer {
      margin: $space;
      text-align: center;
    }

  .form-footer span {
    text-align: left;
    font-size: 12px;
  }

  .form-footer .button {
    margin-top: $space-double;
  }
}
  .logo-subtext {
    font-size: 18px;
    margin: 0;
  }

  .portal-title {
    margin: 32px 0 16px 0;
    font-weight: 500;
  }

  .title-subtext {
    text-transform: uppercase;
    font-size: 12px;
  }


}
