.coding-challenge {

  .portal-inner >.challenge-editor {
    display: flex;
    margin: $space-double 0;
    padding: 0 $pad;

    .col {
      border: 1px solid $color-brand-primary;
      border-radius: 5px;
    }
    .column-header {
      background: $color-gray-1;
      margin: 0;
      padding: $pad $pad-double;
      border-bottom: 1px solid $color-gray-2;
    }

    .instructions {
      flex: 1.5;
      list-style-position: inside;
      margin-right: $pad;

      ol {
        padding: $pad $pad-double;
      }

      ol li {
        margin-bottom: 1rem;
        font-size: 16px;
        line-height:22px;
      }
       ul {
         list-style: none;
       }

       code {
         background: $color-gray-1;
          padding: 1px 4px 2px 4px;
          border: 1px solid $color-gray-2;
          border-radius: 3px;
          margin: 0 1px;
          font-size: 12px;
       }

       .-pass {
         color: $color-gray-3;
         font-weight: 500;
       }
    }

    .code-editor {
      flex: 2;

      .editor-wrapper {

        .react-codemirror2 {
          border-bottom: 1px solid $color-gray-2;
        }
      }

      .action {
        display: flex;
        justify-content: space-between;
        margin: $space;

        span {
          flex: 2;
          margin-right: $space-double;
          color: $color-gray-3;
          font-style: italic;
        }
      }
    }
  }

}
