.dashboard {
  & {
    background: $color-gray-1;
    min-height: 91vh;
    overflow:auto;
}

  .program-select {
    padding: $pad-double;

    .citation {
      font-style: italic;
      font-size: 14px;
      margin-top: $space-triple;
    }
  }

  .section-row {
    padding: $pad-and-half 0;
    margin: 0;
  }

  form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    .form-group {
      width: auto;
      margin-right: $space-and-half;
    }
  }

  .action {
  }
}
