.home {
& {
  background: $color-gray-1;
  min-height: 100vh;
}

.container {
  max-width: 1000px;
}

.portal {
  background: $color-white;
  display: flex;
  flex-wrap: wrap-reverse;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.25);
}

.portal-aside {
  flex: 10 0 50%;
  padding: $pad-double;
  background: url('./assets/images/binary-gradient.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.program-block {
  background: rgba(201, 210, 210, .11);
  padding: $pad;

  &:first-child {
    margin-bottom: $space-and-half;
  }

  .program-logo {
    height: 40px;
    width: auto;

    &.-dsi {
      height: 48px;
    }
  }
  p  {
    color: $color-white;
  }
  &.-campuses {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: none;
    color: $color-gray-2;
    text-transform: uppercase;
    padding-top: $pad-quad;
    font-size: 13px;
    .campus-line {
      display: block;
      text-align: center;
      width: 100%;
      line-height: 24px;
      span {
        padding: 0 6px;
      }
    }
  }

}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 5 0 50%;
  padding: $pad-double;
  min-height: 625px;
}

.citation {
  background: #fdffe0;
  padding: $pad 12px;
  font-size: 13px;
  margin: 0;
}

.logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 8px;

  .logo {
    height: 22px;
  }
  .logo.-hr {
    height: 19px;
    padding-left: 26px;
  }
}

form, .form-group, .input-group {
  width: 100%;
}

form {
  & {
    margin-top: $space-and-half;
  }
  .input-group {
    margin: 0 $space 12px $space;
  }

  .checkbox-field {
    text-align: left;
  }

  .form-footer {
      margin: 0 $space $space $space;
      text-align: center;
    }

  .form-footer span {
    text-align: left;
    font-size: 12px;
  }

  .form-footer .button {
    margin-top: $space-double;
  }
}
  .title {
    font-size: 36px;
    margin: 0;
    margin-top: 12px;
    position: relative;
     span {
       font-size: 12px;
       top: 0;
       right: -35px;
       position: absolute;
       font-weight: 500;
       color: $color-brand-primary;
     }
  }

  .portal-title {
    margin: 45px 0 0 0;
    font-weight: 500;
    text-align: center;
    font-size: 25px;
  }

  .title-subtext {
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
  }
}

@media (max-width: $width-tablet) {
  .home .signup {
    padding: 0;
  }
  .home .form-content {
    padding: $pad-double $pad;
  }
}


@media (max-width: $width-mobile) {
  .home .signup {
    padding: $pad;
  }

  .home .portal-aside .-campuses {
    display: none;
  }
}

@media (max-width: 900px) {
  .home .title {
    font-size: 30px;
    white-space: nowrap;
  }
}
