.home {
& {
  background: $color-gray-1;
  min-height: 100vh;
}

.portal {
  background: $color-white;
  display: flex;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.25);
}

.portal-aside {
  flex: 10 0 50%;
  background: url('./assets/images/binary-gradient.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.program-block {
  background: rgba(201, 210, 210, .11);
  padding: $pad;
  margin: $space-and-half;
  margin-top: 0;

  .program-logo {
    height: 40px;
    width: auto;

    &.-dsi {
      height: 45px;
    }
  }
  p  {
    color: $color-white;
  }
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 5 0 50%;
  padding: $pad-double;
}

.logo {
  width: 200px;
}

form, .form-group, .input-group {
  width: 100%;
}

form {
  & {
    margin-top: $space;
  }
  .input-group {
    margin: 0 $space;
  }

  .checkbox-field {
    text-align: left;
  }

  .form-footer {
      margin: $space;
      text-align: center;
    }

  .form-footer span {
    text-align: left;
    font-size: 12px;
  }

  .form-footer .button {
    margin-top: $space-double;
  }
}
  .logo-subtext {
    font-size: 18px;
    margin: 0;
  }

  .portal-title {
    margin: 32px 0 16px 0;
    font-weight: 500;
  }

  .title-subtext {
    text-transform: uppercase;
    font-size: 12px;
  }


}
