.Signup {
  background: var(--color-gray-1);
  margin: var(--space-and-a-half) var(--space);
  min-height: 100vh;
}

.portal {
  background: var(--color-white);
  display: flex;
  margin:  var(--space-triple);
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.14);
}

.portal-aside {
  flex: 10 0 50%;
  background: url(https://s3-us-west-2.amazonaws.com/dotcom-files/white_orange_formbackground.jpg);
  background-position: center;
  background-size: cover;
  padding: var(--pad-double);
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 5 0 50%;
  padding: var(--pad-double);
}

.form-content form {
  margin: var(--space-double) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 200px;
}

.logo-subtext {
  font-size: 18px;
  margin: 0;
}

.portal-title {
  margin: 32px 0 8px 0;
  font-weight: 500;
}

.form-footer {
    margin: var(--space);
    text-align: center;
    width: 100%;
  }

.form-footer span {
  text-align: left;
  font-size: 12px;
}

.form-footer .button {
  margin-top: var(--space-double);
}
