.dashboard .table {
  & {
    width: 100%;
    margin-top: $space;
  }

  .table-head {
    border-bottom: 1px solid $color-brand-primary;
    .table-row {
      margin: 0;
      padding: $pad/2 $pad;

      li {
        font-weight: 500;
      }
    }
  }

  .table-row {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;

     li {
      flex: 1;
    }
    > li:first-child {
      flex: 2;
    }
  }

  .table-body {
    .table-row {
      padding: $pad-and-half $pad;
    }

    .application-row {
      background: $color-gray-1;
      margin-top: $space;
      border: 1px solid $color-brand-primary;

      .-listing {
        border-bottom: 1px solid $color-brand-primary;
      }
    }

    & :first-child.application-row  {
      margin-top: 0;
      border-top: 0;
    }
  }

  .table-row.-steps {
    display: flex;
    justify-content: center;
    background: white;
    border-radius: 4px;
  }

  .steps-list {
    width: 80%;
  }

  .steps-list .steps {
    display: flex;
    padding: 0;
  }

  .steps-list .steps .step {
    padding: 0 $pad;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    .label {
      margin: $space 0;
    }

    .number {
      position: relative;
      z-index: 1;
      font-size: 20px;
      color: $color-white;
      background: $color-brand-primary;
      border-radius: 50%;
      width: 40px;
      line-height: 40px;
      text-align: center;
    }


    &:not(:last-child) .number::after {
      position: absolute;
      content: '';
      top: 50%;
      width: 255px;
      height: 2px;
      background: $color-brand-primary;
    }
  }
}
