.dashboard {
  .table {
    width: 100%;
    padding: $pad-double;
  }

  .table-head {
    border-bottom: 1px solid $color-brand-primary;
    .table-row {
      margin: 0;
      padding: $pad/2 $pad;

      li {
        font-weight: 500;
      }
    }
  }

  .table-row {
    display: flex;
    list-style: none;
    margin: 0;

     li {
      flex: 1;
      display: flex;
      align-items: center;
    }
    > li:first-child {
      flex: 2;
    }
  }

  .table-body {
    .table-row {
      padding: $pad-and-half $pad;
    }

    & :first-child.application-row  {
      margin-top: 0;
      border-top: 0;
    }
  }

  .application-row {
    background: $color-white;
    margin-top: $space;
    margin-bottom: $space;
    border: 1px solid $color-brand-primary;

    .-listing {
      background: $color-gray-1;
    }
  }

  .delete-application {
    display: flex;
    justify-content: flex-end;

    button {
      cursor: pointer;
    }
  }

  .error {
    display: flex;
    justify-content: flex-end;
    color: red;
  }
}

.modal-button {
  padding-top: $pad/2;
  color: white;
  margin-bottom: -2em;
  padding-bottom: $pad;
}

.modal-content-wrapper {
  text-align: center;

  .modal-buttons {
    display: flex;
    justify-content: center;
    padding-top: 25px;
  }
}



@media (max-width: 875px) {
  .table {
    .table-body .table-row.-steps {
      .step {
        width: 165px;

        &::after {
          width: 160px;
          left: 95px;
        }
      }
    }
    .hide-tablet {
      display: none!important;
    }
  }
}

@media (max-width: 735px) {
  .dashboard .table {
    padding: $pad;
    .table-body .table-row.-steps {
      display: none;
    }
    .hide-mobile {
      display: none!important;
    }

    .next-steps {
      text-align: center;
      justify-content: center;

      .left-text {
        padding: 0;
      }
    }
  }
}
