.hero {
  padding: $pad-double;
  text-align: left;
  background: url('./assets/images/grid_background.png');
  background-size: cover;
  .hero-title {
    color: white;
  }

  p {
    color: white;
    max-width: 800px;
  }
}
