.portal-inner {
  background: $color-white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.25);
}

.column-headline {
  font-weight: 500;
  text-align: center;
  width: 100%;
}
