.signin {
  & {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 5 0 50%;
    padding: $pad-double;
  }

  .forgot-password {
    color: $color-blue;
    font-weight: 400;
    text-align: right;
    align-self: flex-end;
    font-size: 12px;
    margin-right: 8px;
  }
}
