/**
 * Body base styles
 */
*,
*:after,
*:before {
  margin:0;
  padding:0;
  box-sizing:inherit;
  border: 0;
  outline: 0;
  background: transparent;
  overflow: auto;
}

html, body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  color: $color-gray-5;
  background: $color-white;
  font-family: $font;
  font-size: 1rem;
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 0;

  &.-gray {
    background-color: $color-gray-1;
  }

  >main {

    overflow-x: hidden;

    &.-gray {
      background-color: $color-gray-1;
    }

  }

}

.container {
  max-width: var(--container-width);
  margin: auto;
}

.font-secondary {
  font-family: $font-secondary;
}

.section.-white {
  background: white;
}

.section-thin {
  padding: 0;
  position: relative;
  background: $color-gray-1;
}
