/*------------------------------------*\
    #TEXT
\*------------------------------------*/

/**
 * Paragraph base styles
 */
p {
  font-size: 1rem;
  line-height: 1.4;
  color: $color-gray-4;
}

p.lead {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: $space-and-half;
  color: $color-gray-4;
  text-align: center;

  &.zero-courses {
    background: rgba(213,215,85, 0.2);
    padding: 2em;
    text-align: center;
    max-width: 800px;
    color: $color-gray-4;
  }
}

p.-inverse {
  color: $color-white;
}

/**
 * Blockquote base styles
 */
.blockquote {
  color: $color-gray-4;
  margin-bottom: $space;
  .lead {
    text-align: left;
  }
  .citation {
    font-style: normal;
  }
}

.citation {
  font-style: italic;
  font-size: 14px;
  margin-top: $space-triple;

  &.-thin {
    margin-top: 0;
  }
  &.-center {
    text-align: center;
  }
  &.-note {
    background: #fdffe0;
  }
}

/**
 * Horizontal rule base styles
 */
hr {
  border: 0;
  height: 2px;
  background: $color-gray-2;
  margin: $space-double 0;
}

/**
 * Abbreviation base styles
 */
abbr {
    border-bottom: 1px dotted $color-gray-4;
    cursor: help;
}

.page-title {
  font-weight: 500;
  text-align: center;
  margin-top: $space-triple;
  font-size: 24px;
}
